body { /*affects the entire page*/
  margin: 0;
  padding: 0;
  background-color: #EFFFC9;
}

ul { /*affects the navbar*/
  margin: 0;
  list-style-type: none; /*removes bullets*/
  display: block; /*makes navbar take up entire website width*/
  overflow: hidden; /*stops other elements from being adjacent to the navbar*/
  padding: 0;
  height: 15vh;
}

ul li { /*affects the elements in the navbar*/
  float: left; /*makes list items go left to right*/
  text-align: center; /*puts all list items in the middle of its section*/
  width: 25%;
  height: 15vh;
  display: flex; /*sets all list items as flexboxes so that they can be centred easily*/
  align-items: center; /*centres vertically*/
  justify-content: center; /*centres horizontally*/
  line-height: 0; /*for some reason the image links assume that there is text and so include line height, this is here to remove that*/
}
ul li h2 { /*affects the text in the navbar*/
  color: #009E45;
  font-family: "aktiv-grotesk-thin";
  line-height: 35px; /*this is to re-add the line height lost in ul li*/
}

.line { /*affects the lines that go across the screen*/
  height: 3px;
  background-color: #009E45;
}

h1 { /*affects the header text*/
  margin: 0;
}

a { /*affects links*/
  text-decoration: none;
  color:#009E45;
}